/* https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction */

.sidebar{
    @apply translate-x-full transition-transform;
}

.sidebar.open{
    @apply translate-x-0 transition-transform;
}

.autocomplete-list {
    @apply bg-paper-400 m-0 absolute max-h-screen overflow-y-auto inset-x-0 divide-y divide-white/10;
}

.autocomplete-list li{
    @apply px-4 py-2 cursor-pointer w-full truncate;
}

.autocomplete-list li:hover{
    @apply bg-white/10;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-image:url('data:image/svg+xml;utf8,<svg style="color: rgb(245, 245, 245);" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>');
    margin-left: .4em;
    cursor: pointer;
}

.autocomplete-list li{
    @apply px-4 py-2 cursor-pointer w-full truncate outline-none;
}

.autocomplete-list li:hover{
    @apply bg-white/10;
}

.autocomplete-list li:focus{
    @apply bg-white/10;
}