
#sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--bodyColor);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--white);
    display: block;
    transition: 0.3s;
}

.sidebar .element {
    margin: 8px 8px 8px 8px;

    font-size: 1.3em;
    border: 1px solid var(--borderFormEls);
    color: var(--white);
    background: var(--bgFormEls);
}

.element + input {
    padding: 4px 4px 4px 0;
}

.element + button {
    padding: 4px 10% 4px 10%;
}

.element + button:hover {
    background: var(--buttonHover);
    cursor: pointer;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.container {
    width: 100%;
    text-align:center
}

.sidebar #closeButton {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}



#openButton:hover {
    background-color: #444;
}

#main {
    transition: margin-right .5s;
    /*padding: 16px;*/
}

#wrapper {
    position: absolute;
    display: inline-block;
}

canvas {
    position: absolute;
    z-index: 0;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}


.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}
input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}
input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}
input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}







/* :root {
    --text-color: rgba(245, 245, 245, 1);
    --color-inactive: rgba(245, 245, 245, 0.6);
    --bg-main: #0d1518;
    --bg-paper: #1a2327;
    --bg-sidebar: var(--bg-paper);
    --sidebar-width: 400px;
    --component-border: solid 3px var(--text-color);
    --component-radius: 0.3rem;
} */

/* body {
    margin: 0;
    padding: 0;

    background-color: var(--bg-main);
    font-family: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto Mono', monospace;
} */

/* #sidebar{
    position: fixed;
    right:0;
    top: 0;
    bottom:0;
    transition: 0.5s transform cubic-bezier(.5,.01,1,.69);
    transform: translateX(100%);
    max-width: var(--sidebar-width);
    background-color: var(--bg-sidebar);
    color: var(--text-color)
}

#sidebar.open{
    transform: translateX(0);
    transition: 0.4s transform cubic-bezier(0,.01,.32,1.01);
}

#sidebarOpenButton {
    font-size: 20px;
    cursor: pointer;
    background-color: var(--bg-sidebar);
    color: var(--white);
    padding: 10px 15px;
    border: none;
    z-index: 1;
    border-radius: 50% 0 0 50%;
}

#sidebarOpenContainer{
    transform: translateX(calc(-100% + 2px));
    width: min-content;
    height: 0;
}

#sidebarHeader{
    padding: 0.5rem 1.5rem;
}

#sidebarContent{
    padding: 1rem 1.5rem 0 1.5rem;
}

#sidebarContent input{
    width: 100%;
    padding: 0.5rem 0.7rem;
    font-size: 1.1em;
}

input{
    background-color: var(--bg-paper);
    color: var(--text-color);
    border: var(--component-border);
    border-color: var(--color-inactive);
    border-radius: var(--component-radius);
    transition: 0.2s border-color;
}

input:hover, input:active{
    border-color: var(--text-color);
    transition: 0.5s border-color;
} */